
<h2>Pending History</h2>
<input type="text" class="form-control" name="search"  placeholder="Search.." [(ngModel)]="searchString" />
<br>
<table class="table">
    <thead>
        <tr>
            <th>ORDER ID</th>
            <th>ORDER TIME</th>
          
         
            <th>ORDER STATUS</th>
            <th>ORDER QUANTITY</th>
    
            <th>FOOD ID</th>
            <th>VENDOR ID</th>
            <th>WALLET TYPE</th>
            <th>ORDER AMOUNT</th>
            <th>ORDER COMMENTS</th>
            <th>CANCEL ORDER</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of orders | async  | customerFilter : {ordStatus: searchString, ordId:searchString, ordComments:searchString, walType:searchString,ordQuantity:searchString}; let i = index">
            <td>{{u.ordId}}</td>
            <td>{{u.ordTime}}</td>
         
         
            <td>{{u.ordStatus}}</td> 
            <td>{{u.qtyOrder}}</td> 
     
            <td>{{u.foodId}}</td>
            <td>{{u.venId}}</td>
            <td>{{u.walType}}</td> 
            <td>{{u.ordAmount}}</td>
            <td>{{u.ordComments}}</td> 
            <td>
                <button  class ="button custom-btn btn-4 " (click)="cancelOrder(u.ordId,u.cusId)" style="vertical-align:middle" md-button [routerLink]="['/dashBoard',{outlets: {'data': ['customerCancelOrder']}}]"><span>Cancel Order</span> </button>
            </td>
        </tr>
    </tbody>
    
</table>
<!-- <input type="button" class="custom-btn btn-4 " value="Cancel All" (click)="cancelMe()" /> -->